body{
    margin: 0px;
}
header{
        background-color: black;
        width: 97.7vw;
        height: 10vh;
    }
    .navigation{
        border: 2px solid black;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo{
         font-size: 30px;
         margin-left: 150px;
         width: 30%;
    }
    .navlinks{
        width: 70%;
        margin-right: 150px;
        font-size: 15px;
        color: #afacac;
    }
    .navlinks ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
    }
    .navlinks a{
        text-decoration: none;
        color: rgb(197, 193, 193);
    }
    .one{
        width: 97.4vw;
        height: 170vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .FormContainer{
        width: 80%;
        height: 700px;
        /* margin: 100px auto; */
        margin-top: 100px;
        margin-bottom: 40px;
        padding: 5px;
        border-radius: 10px;
        background-color: #f8f9fa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .FormContainer h1{
        color: #0c0c0c;
        font-size: 50px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 3px;
    }
    .FormContainer p{
        color: #6c7989;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-top: 3px;
        margin-bottom: 30px;
    }
    .FormContainer img{
        margin-top: 10px ;
        margin-bottom: 10px;
        width: 60px;
        height: 60px;
        border-radius: 5px;
    }
    form{
        width: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;   
    }
    input{
        width: 40%;
        height: 55px;
        margin: 10px;
        border-radius: 5px;
    }
    textarea{
        width: 40%;
        height: 150px;
        margin: 10px;
        box-shadow: 0px 0px 5px 0px;
        border-radius: 5px;
    }       
    button{
        background-color: #0d6efd;
        color: white;
        height: 50px;
        width: 41%;
        border: none;
        border-radius: 5px;
    }
    button:hover{
        background-color: #273852;
        color: white;
    }
    .allcontent{
        /* border: 2px solid black; */
        width: 90%;
        height: 15%;
        margin-top: 0px;
        /* margin-bottom: 0px; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .allcontent img{
        border-radius: 5px;
    }
    .allcontent p{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #6c7989;
        /* margin-top: 2px; */

    }
    .content h3{
        margin-bottom: 0px;
    }
    .content{
        text-align: start;
        margin-top: 15px;
    }
    .content2{
        text-align: start;
        margin-top: 35px;
        /* height: 50%; */
    }
    .endpage{
            background-color: #212529;
            color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 70px;
            width: 97.45vw;
            margin-top: 15px;
        }
        .terms{
            display: flex;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }
 